# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Copy as RTF'
      'submenu': [
        { 'label': 'Copy', 'command': 'copy-as-rtf:copy' }
      ]
    ]
  }
]
