# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
    'atom-text-editor' : [
        {'label': 'Copy as RTF', 'command': 'copy-as-rtf:copy'}
    ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      { 'label': 'Copy as RTF', 'command': 'copy-as-rtf:copy' }
    ]
  }
]
